head{
    background-color: aqua;
}
body{
    background-color: rgb(25, 66, 66);
}

p{
    /* display: inline;*/
        display: block;
         column-count: 2;
         
    }

nav{
    color: white;
    position: center;
    font-size: 30px;
    display: inline;
    background-color: aquamarine;
}

h1{
    color: white;
    position: center;
    font-family: 'Times New Roman', Times, serif ;
    font-weight: 300;
    padding: 0%;
    margin-top: auto;
    

}
p{
    color: rgb(239, 255, 255);
    position: center;
    font-family: 'Times New Roman', Times, serif ;
    font-weight: 300;
    padding: 0%;
    margin-top: auto;
    display: block;
    column-count: 2;
}

div {
    position: right;
    right: 30px;
    border: 3px solid white;
}


  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 20%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }




  p{
    /* display: inline;*/
        display: block;
         column-count: 2;
  }